// Colors
$grey: #333333;

// Navigation colors
$nav-background: #990000;
$nav-text-color: yellow;

// Clock variables
$clock-text-color: white;
$clock-bg-color: #ffcccc;
$clock-border-color: #800000;
